* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 @font-face {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

body {
  padding: 10px;
  padding: 0%;
  margin: 0%;

}

/*NAVBAR DESIGN */

.theUL {
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0%;
  padding: 0%;
  height: 82px;
  background-color: black; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  list-style: none;
  text-decoration: none;
  z-index: 1;
  
}


.img{
  height: 50%;
	width: 40%;
  margin: auto;

}

.popup-overlay a {
  color:white;
}
.popup-overlay a:hover {
  color:#00A795;
}
.navwords{
  color: white;
  font-weight: bold;
  font-size: 130%;
  text-decoration: none;
}
.navwords:hover{
  color: #00A795;
}


.cart{
  color: white;
  font-weight: bold;
  font-size: 130%;
  text-decoration: none;
  margin-left: 50px;
}

.popup-overlay {
  height: 45%;
  background: black !important;
  
}

.menu {
  width: 100%;
  display: block;
  padding: 0px;
  
  
}
.menu ul {
  position: relative;
  top: 50px;
  right: 20px;
  font-size: 24px;
  padding: 0px;
  text-decoration: none;
  color: white;
  
}
.menu li {
  list-style: outside none none;
  margin: 10px 0px;
  padding: 0;
  cursor: pointer;
  
  
}

white{
  color: white;
}
.white:hover{
  color: #00A795;
}
a {
  /* color:black; */
  text-decoration: none;
}
.try{
color: #000000;
}
.try:hover{
  color: #00A795;
}
.try2{
  color: #000000;
  }
  .try2:hover{
    color: #000000;
  }

.burger-menu,
.burger-menu.open {
  display: none;
  /* display: inline-block; */
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 9999;
  background: black;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

@media only screen and (max-width: 600px) {
  .theUL {
    display: none;

  }

  .burger-menu,
 .burger-menu.open {
  display: inline-block; 
 }

  .img{
    display: none;
  }
  

}


/*SLIDESHOW HOMEPAGE*/

.react-slideshow-wrapper.slide {
  width: 100%;
  height: 100% !important;
  overflow: hidden;
 
}

.react-slideshow-wrapper .images-wrap div img {
  width: 100%;
  border-bottom: 10px solid #00A795;
  
  
}

/*HOMEPAGE DESIGN CAROUSEL*/



.alice-carousel__stage-item * {
  line-height: initial;
  width: 400px;
}
.classofp{
  text-align: center;
  color: #000000;
}
.classofp:hover {
  color: #00A795;
}
img.miniShop{
  widows: 100%;
}
.load{
  display: flex;  
  justify-content: center

}
.steven{
  margin-left: 11%;
  margin-top: 3%;

}
.littlegrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 44px; 
}

.alice-carousel__wrapper {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid white;
}

/*HOMEPAGE DESIGN BRANDS*/

.ourbrands{
  background:#d8d8d8;
text-align: center;
border-top: 10px solid rgb(0, 168, 152);
height: 450px;
}

.brandtitle{
  padding: 15px;

}
.brandgrid {
  background:#d8d8d8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 85px; 
  margin-top: 53px;
  margin-left: 50px;

}
.line{
  width: 60%;
  
}

@media only screen and (max-width: 1090px) {
  .steven{
    margin-left: 2%;
    margin-top: 3%;
  
  }

}
@media only screen and (max-width: 1000px) {

  .littlegrid{
    
    grid-template-columns: 1fr;
    grid-gap: 24px; 
  }

  .classofp{
    margin-left: 5%;
  
  }
  
  button.MuiButtonBase-root-25.MuiButton-root-1.MuiButton-contained-10.MuiButton-containedSecondary-12.MuiButton-raised-13.MuiButton-raisedSecondary-15 {
    margin-left: 5% !important;
  }
  

}
@media only screen and (max-width: 800px) {

  
  .brandgrid {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-left: 10px;
   
  
  }
  .line{
    width: 70%;
    
  }

  .littlegrid{
    
    grid-template-columns: 1fr;
    grid-gap: 24px; 
  }

  .classofp{
    margin-left: 5%;
  
  }
  
  button.MuiButtonBase-root-25.MuiButton-root-1.MuiButton-contained-10.MuiButton-containedSecondary-12.MuiButton-raised-13.MuiButton-raisedSecondary-15 {
    margin-left: 5% !important;
  }
}
@media only screen and (max-width: 999px) {
  .steven{
    margin-left: 25%;
    margin-top: 3%;
  
  }
}
@media only screen and (max-width: 675px) {

  .steven{
    margin-left: 9%;
    margin-top: 3%;
  
  }

}
@media only screen and (max-width: 600px) {

  .brandgrid {
    grid-template-columns: 1fr 1fr;

   
  
  }

  .ourbrands{
    
    height: 600px;
  }
  


}
.banana {
  font-size: 1.0em;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 10%;
}
@media only screen and (max-width: 575px) {

  .productdescription {
    font-size: 1.0em;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 10%;
    
    
  }
  .productdescription:hover{
    color: #000000 ;

  }
  .alice-carousel__stage-item * {
    line-height: initial;
    width: 227px;
  }
  .steven{
    margin-left: 13%;
    margin-top: 3%;
  
  }
  button.MuiButtonBase-root-25.MuiButton-root-1.MuiButton-contained-10.MuiButton-containedSecondary-12.MuiButton-raised-13.MuiButton-raisedSecondary-15 {
    margin-bottom: 5%;
  }
}


/*PRODUCTS PAGE DESIGN*/

/*BACKGROUND IMAGE SHOP*/

.backgroundimg {
  background-image: url("https://res.cloudinary.com/ssoutoul/image/upload/v1530192068/riders_2-1024x768_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0%;
  height: 300px;
  opacity: 0.8;
  margin-bottom: 50px;
  border-bottom: 10px solid #00A795;
  display: flex;
  align-items: center;
  justify-content: center;

}
.backgroundimgCart {
  background-image: url("https://res.cloudinary.com/ssoutoul/image/upload/v1530192068/riders_2-1024x768_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0%;
  height:300px;
  opacity: 0.8;
  margin-bottom: 50px;
  border-bottom: 10px solid #00A795;
  display: flex;
  align-items: center;
  justify-content: center;

}

/*CONTENT SHOP*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em; 
  margin-left: 5%;
 
  
}

.title {
  width: 100%;
  text-align:center;
  margin-top: 110px;
  color: white;
  font-size: 3.0em; 
 

}

.grid {

  background-color: #ddd;
  width: 70%;
  height: 510px;
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;


}

.products-img {
  width: 80%;
  margin-top: 40px;
}
.sizegraph{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em; 


}

button.MuiButtonBase-root-59.MuiButton-root-35.MuiButton-contained-44.MuiButton-containedPrimary-45.MuiButton-raised-47.MuiButton-raisedPrimary-48 {
  background-color:#00A795;
  width: 60%;
}

@media only screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr 1fr;
    
 
  }

}


@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    margin-left: 15%;
 
  }


}

/*SINGLE PRODUCT PAGE*/

.productcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  margin-top: 40px;
}


.productimage{
  width: 90%;
  margin-top: 138px;
  margin-left: 20px;

}

.productname {
  font-size: 3.0em;
  text-align: center;
  border-bottom: 5px solid #00A795;
  
  width: 80%;
  margin-left: 5%;
}
.productdescription {
  font-size: 1.0em;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 10%;
  color: black;
}

.productprice {
  font-size: 3.0em; 
  margin-right: 10%;
  margin-left: 10%;
}

.productgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
}


/* Material style */
.productbutton {
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 40px;
  border-radius: 2px;
  font-size: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
  background:#00A795;
  width: 70%;
  height: 40%;
  margin-top: 12%;
}
.backbutton {
  width: 50px;
  height: 30px;
  background-color: #00A795;
  outline: none;
}
/* Ripple magic */
.productbutton{
  position: relative;
  overflow: hidden;
  outline: none;
}

.productbutton:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
  
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.productbutton:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}


@media only screen and (max-width: 1000px) {
  .productcontainer {
    
    grid-template-columns: 1fr;
    margin-left: 5%;
  }
  
  .productbutton {
   
    font-size: 15px;
   
    
  }

}


@media only screen and (max-width: 600px) {
   .productbutton {
   
    font-size: 12px;
    margin-top: 20%;
    
  }

  .backbutton {
    display: none;
  }
}



/*ABOUT PAGE */

.section {
  width: 80%;
  margin: auto;
}


.sectionone{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 7em;
  margin-bottom: 30px;

}

.sectiontwo{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 7em;
  margin-bottom: 100px;
 
}


.thumbone img {
  width: 100%;
}

.thumbtwo img{
  width: 100%;
}

.sectionthree {
  background-color: #ddd;
  height: 100%;
 

}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 85%;
  margin-left: 96px;
  
}


.thumb {
  width: 80%;
  margin-top: 40px;
  margin-left: 10%;

}

.gallery p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  /* margin-right: 20px; */
}


@media only screen and (max-width: 1000px) {
  
  .sectionone{

    grid-template-columns: 1fr;
    grid-gap: 2em;


  }

  .sectiontwo{

    grid-template-columns: 1fr;
    grid-gap: 2em;

  }

  .gallery {
    grid-template-columns: 1fr;
    margin-left: 0;
    
  }

  .gallery p {
    margin-left: 20%;
  }

  .thumb {
    margin-left: 20%;
  
  }


}


/* contact */
.newgrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 44px; 
  width: 90%;
 margin: auto;
  height: 100%
  
  
}
.the {
  margin-bottom: 4em;
}
.smallinput{
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 44px; 
  min-width: 95%;
  max-width: 523px;
  max-height: 300px;
  min-height: 65px;
  margin-top: 20px;
  font-size: 15px;
  padding: 10px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.somemoreinput{
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 44px; 
  width: 95%;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  outline: none;
}

iframe {
  margin-top: 5%;
  /* margin-left: 15%; */
  width: 100%;
  /* height: 500px; */

}
@media only screen and (max-width: 850px) {
  .newgrid{
    display: grid;
    grid-template-columns: 1fr;
  }
  .sizeofmap{
    margin:auto;
    align-self: center;
  }
  .the{
    margin-bottom: 2em;
  }
  .smallinput{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 44px; 
    min-width: 95%;
    max-width: 400px;
    max-height: 300px;
    min-height: 65px;
    margin-top: 20px;
    font-size: 15px;
    padding: 10px;
  }
  }


/*FOOTER*/

.footer {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 10% 35% 25% 25%;
  background-color: black;
  width: 100%;
  height: 80%;
  border-top: 10px solid #00A795;
}

.icongrid {
  display: grid;
  grid-template-columns: 20%;
  grid-gap: 2em;
  margin-top: 10%;
  margin-left: 72%;
}

.instagramgrid {
  width: 100%;
  margin-left: 10%;
}

.text {
  color: white;
  font-size: 18px;
  margin-left: 15%;
  margin-top: 20px;

}
.themap{
  width: 142%;
  height: 93%;
  margin-left: 12%;
}
.logostyle {
  width: 100%;
}

.follow {
  color: white;
  font-size: 20px;
  margin-left: 61%;

}

@media only screen and (max-width: 1000px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .instagramgrid {
    width: 80%;
    margin-left: 10%;

  }

  .text {
    margin-left: 10%;
    
  }
  .themap{
display: flex;
justify-content: center;
margin-left: 0Px;
width: 100%;
  }
  .icongrid {
    justify-content: center;
    grid-template-columns: 20% 20%;
    margin-left: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
   
  }
  .follow {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

.logostyle {
  width: 28%;
}

  

}

@media only screen and (max-width: 800px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }

 
  .text {
    margin-left: 10%;
    
  }
  
  .icongrid {
    justify-content: center;
    grid-template-columns: 20% 20%;
    margin-left: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
   

  }
  .follow {
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 0;
}

}

@media only screen and (max-width: 500px) {

  .text {
    font-size: 15px;
  }

  

}


/* cart */

.cartTitle{
  margin-left:4%;
}

.cartgrid{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: .2fr 1fr;
  grid-gap: 44px; 
  margin-top: 10px;
  height: 100%;
  margin-bottom: 5%;
  border: 2px solid black;
  padding: 15px;

  
}

.cartimg {
  height: 250px;
  width: 300px;
 
}

.cartinfo{
  margin-top: 10px;
}
.info{
  font-size: 1.7em;
}

.fa-times-circle{
  font-size: 35px;
  display: flex;
  justify-content: flex-end;
}
.biggraph{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
}

button.fas.fa-times-circle{
  padding: 0%;
  margin: 0%;
  border: 0px white;
}
.bigtitle{
  font-size: 2em;
  color: #00A795;

}
.lilgraph{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px; 
  margin-top: 20px;
}

.value{
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
  margin-top:15px;
  font-weight: bold;
} 

.total {
  margin-right : 4%;
  margin-bottom : 0%;
  display: flex;
  justify-content: flex-end;
  color: black;
  font-size: 2em;
}

.VAT {
  
  color: black;
  margin-right: 5%;
  margin-top: 0%;
  display: flex;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
  margin-bottom: 2%;
  
}

.quantitybutton {
  width: 10%;
  font-size: 0.7em;
  margin-bottom: 6%;
}

@media only screen and (max-width: 800px) {
  .cartimg{
    height: 200px;
    width: 250px;
    margin-left: 13%;
    
  }  

  .bigtitle{
  font-size: 1.7em;
  }

  .info{
    font-size: 1.5em;
  }
  button.fas.fa-times-circle{
    font-size:1.8em;
  }

  .cartgrid{
    grid-template-columns: 1fr;

  }

  .quantitybutton {
    width: 5%;
    font-size: 0.5em;
    margin-bottom: 6%;
  }

}

/* .line2{
  font-size: 30px;
  margin-top: 15px;
} */

/*ADMIN PAGE*/

.logincontainer {
  width: 100%;
  height: 800px;
  background-color: #00A795;
}

.apple {
  display: flex;
  justify-content:center;
  align-items:center;
}

.loginbox {
  width: 600px;
  height: 400px;
  background-color: black;
  margin-top:20px;
}

.loginbox h1 {
  color:white;
  font-style: italic;
  text-align: center;
}

.loginimg {
  width: 20%;
  margin-top: 100px;
  margin-left: 40%;
}

.loginbox input, button {
  outline:none;
  padding:10px;
}
.loginbox input {
  width: 80%;
  margin: 5%;
  margin-left: 8%;
}
.loginbox button {
  width: 20%;
  margin-left: 40%;
  margin-top: 5%;
}

@media only screen and (max-width: 600px) {

  .loginimg {
    width: 40%;
    margin-left: 30%;
  }
  


}

/*ADMIN ACCESS*/
.form {
  width:100%;
  height: 100%;
  margin-bottom: 5%;
}
.addform  {
 margin-left: 5%;
 margin-bottom: 5%;
 }
.addform h1 {
 font-size: 20px;
}
.addform input {
  width: 50%;
  outline:none;
  padding:10px;
}

.admingrid {
  display: grid;
  grid-template-columns: 15% 15% 15% ;
  grid-gap: 1em;
}

.adminimg {
  width: 100%;
 }

 @media only screen and (max-width: 800px) {

  .admingrid {
    grid-template-columns: 1fr;
  }

  .admingrid div {
    width: 70%;
  }
  
  .adminimg {
    width: 70%;
   }


}
 

 /* Shipping */
.biggrid{
    width: 90%;
    margin: auto;
}


 .toGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
}
.forsize{
  columns: #6f6969;
  font-style: italic;
  text-align: center;
  font-size: 25px;

}
.mysalsa{
  margin-left: 20px;

}

.makeitbig{
  padding:10px;
  width: 60%;

}
.thebutton{
  display: flex;
  justify-content: flex-end;

}
.bob{
  font-size: 25px;
  text-align: center;
  
}
.trevor{
  background-color: #d5d5d5;
  margin-top: 10% #d5d5d5;
}
.theline1{
  border-bottom: solid 1px #000000;
  padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.theline{
  padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.vice{
  display: flex;
  justify-content: flex-end;
  margin-right: 34%;
}
.theboss{
margin-left: 0%;
margin-right: 0%;
margin-top: 0%;

}
.griddy{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  text-align: center;
   grid-gap: 2%;
   /* margin-left: 35px; */
   margin-bottom: 10%;
}
.griddygrid{
  background-color:#d8d8d8;
  display: grid;
  grid-template-columns: 1fr ;
  text-align:start;
}
.griddygrid2{
  background-color:#d8d8d8;
  display: grid;
  grid-template-columns: 1fr ;
  text-align:start;
  /* margin-bottom: 188px;
  margin-right: 9%; */
  height: 116px;
}
.fewmoregrids{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.n{
  margin-bottom: 19px;
  margin-top: 6%;
  font-size: 24px;
}
.forthefont11{
  font-size: 16px;
  }
  .forthefont20{
font-size: 20px;

  }
.buttons3{
  display: flex;
  justify-content: flex-end;
 /* margin-right: 9%; */
  margin-bottom: 2%;
}
.doesnotwork{
    /* margin-left: 14%; */
    margin-top: 8%;
    font-size: 15px;
}
@media only screen and (max-width: 875px) {
  .griddy{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
     grid-gap: 2%;
     margin-left: 35px;
     margin-bottom: 10%;
     margin-right: 30px;

  }
  .griddygrid2 {
    background-color: #d8d8d8;
    display: grid;
    grid-template-columns: 1fr;
    text-align: start;
    margin-bottom: 45px;
    margin-right: 9%;
    height: 116px;
    margin-top: 30px;
    width: 100%;
}
.buttons3 {
 
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  margin-bottom: 2%;
}
.n {
  margin-bottom: 19px;
  margin-top: 14%;
  font-size: 24px;
}

}
@media only screen and (max-width: 535px) {
.forthefont11{
font-size: 11px;
}
.forthefont20{
  font-size: 15px;
  
    }
.doesnotwork{

margin-top: 9%;
font-size: 11px;
  }
  .n {
    margin-bottom: 19px;
    margin-top: 7.5%;
    font-size: 17px;
  }
}

@media only screen and (max-width: 800px) {
  .toGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .theline{
    padding: 5%;
      display: grid;
      grid-template-columns: 1fr;
  }
  .theline1{
    border-bottom: solid 1px #000000;
    padding: 5%;
      display: grid;
      grid-template-columns: 1fr;
  }
  .theboss{
    margin-left: 3%;
    margin-right: 8%;
    margin-top: 6%;

  }
}
/* emptycart */
.empty{
 margin-right: 10%;
 font-size: 25px;
  
}
.somegrid{
display: grid;
grid-template-columns: 70% 30%;
height: 300px;
}

.emptybutton{
  margin-top: 55%;
  margin-left: 13%;


}
.backgroundimgCart2 {
  background-image: url("https://res.cloudinary.com/ssoutoul/image/upload/v1530192068/riders_2-1024x768_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0%;
  height:200px;
  opacity: 0.8;
  margin-bottom: 50px;
  border-bottom: 10px solid #00A795;
  display: flex;
  align-items: center;
  justify-content: center;

}
@media only screen and (max-width: 737px) {
  .somegrid{
    display: grid;
    grid-template-columns: 100%;
    
    }
    .emptybutton {
      margin-top: -13%;
      margin-left: 361px;
  }


}
@media only screen and (max-width: 615px) {

  .somegrid{
    display: grid;
    grid-template-columns: 1fr;
    
    }
    .emptybutton {
      margin-top: -7%;
      margin-left: 41%;
  }



}

/*PAYMENT*/

.StripeCheckout {
  margin-top:20px !important;
  background-color: #00A694 !important;
}

.message {
  margin-left:0px !important;
}

/*MODALS*/

.styles_overlay__CLSq- {
  background:rgba(154, 149, 149, 0.5); /* 50% transparent */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    padding: 1.2rem;
}












